<ion-header>
  <ion-toolbar color="primary">
    <ion-title>user-info-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <mat-vertical-stepper linear>
      <mat-step label="Dati Anagrafici">
        <form>
          <!--Informazioni Anagrafiche-->
          <ion-item-group>
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Cognome</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Data di nascita</ion-label>
              <ion-datetime displayFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Telefono</ion-label>
              <ion-input inputmode="tel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input inputmode="email"></ion-input>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>

      <mat-step label="Documento">
        <form>
          <ion-item-group>
            <ion-item>
              <ion-label position="floating">Tipo</ion-label>
              <ion-select interface="action-sheet">
                <ion-select-option value="cartaIdentità">Carta d'Identità</ion-select-option>
                <ion-select-option value="passaporto">Passaporto</ion-select-option>
                <ion-select-option value="patenteDiGuida">Patente di Guida</ion-select-option>
                <ion-select-option value="permessoDiSoggiorno">Permesso di Soggiorno</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Rilasciato da </ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Data di Rilascio</ion-label>
              <ion-datetime displayFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>

      <mat-step label="Residenza/Domicilio">
        <form>
          <!--Residenza-->
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Residenza</ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-label position="floating">Città</ion-label>
              <ion-input></ion-input>
              <!--poi semmai ci metti una select-->
            </ion-item>
            <ion-item>
              <ion-label position="floating">Provincia</ion-label>
              <ion-input></ion-input>
              <!--poi semmai ci metti una select-->
            </ion-item>
            <ion-item>
              <ion-label position="floating">Indirizzo</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-item-group>

          <ion-item>
            <ion-checkbox #domicile></ion-checkbox>
            <span style="margin-right: 1em"></span>
            <ion-label>Specificare Domicilio</ion-label>
          </ion-item>
         
          <!--Domicilio/Dimora-->
          <ion-item-group *ngIf="domicile.checked" class="domicile">
            <ion-item-divider>
              <ion-label>Domicilio/Dimora</ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-label>Città</ion-label>
              <ion-input></ion-input>
              <!--poi semmai ci metti una select-->
            </ion-item>
            <ion-item>
              <ion-label>Provincia</ion-label>
              <ion-input></ion-input>
              <!--poi semmai ci metti una select-->
            </ion-item>
            <ion-item>
              <ion-label>Indirizzo</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>

      <mat-step label="Spostamenti" optional>
        <form>
          <ion-item-group>
            <ion-item>
              <ion-label position="floating"> Lavoro </ion-label>
              <ion-input placeholder="Es. : Piazza G. Matteotti 1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Scuola </ion-label>
              <ion-input placeholder="Es. :Piazza G. Matteotti 1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Spesa Alimentare </ion-label>
              <ion-input placeholder="Es. :Piazza G. Matteotti 1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Familiare/Congiunto </ion-label>
              <ion-input placeholder="Es. :Piazza G. Matteotti 1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Medico di Famiglia </ion-label>
              <ion-input placeholder="Es. :Piazza G. Matteotti 1"></ion-input>
            </ion-item>
          </ion-item-group>
        </form>

        <ion-button>
          SALVA
        </ion-button>

      </mat-step>

    </mat-vertical-stepper>

  </div>


</ion-content>