<ion-content>
  <div id="container">

    <mat-vertical-stepper #userStepper linear>
      <mat-step label="Dati Anagrafici" [stepControl]="anagraphicFormGroup">
        <form [formGroup]="anagraphicFormGroup">
          <!--Informazioni Anagrafiche-->
          <ion-item-group>
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Cognome</ion-label>
              <ion-input formControlName="surname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Data di nascita</ion-label>
              <ion-datetime formControlName="dateOfBirth" displayFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <!-- Birth Place -->
            <ion-item-group>
              <ion-item-divider>
                <ion-label>Luogo di Nascita</ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label position="floating">Regione</ion-label>
                <ion-select formControlName="birthRegion"
                            interface="action-sheet"
                            (ionFocus)="clearProvMunFields('birth')" (ionChange)="getProvince('birth')">
                  <ion-select-option *ngFor="let region of regions"
                                     value="{{region.id_regione}}">{{region.regione}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item [disabled]="!anagraphicFormGroup.get('birthRegion').valid">
                <ion-label position="floating">Provincia</ion-label>
                <ion-select formControlName="birthProvince"
                            interface="action-sheet"
                            (ionFocus)="clearMunFields('birth')" (ionChange)="getMunicipalities('birth')">
                  <ion-select-option *ngFor="let province of birthProvinces"
                                     value="{{province.sigla}}">{{province.provincia}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item [disabled]="!anagraphicFormGroup.get('birthProvince').valid">
                <ion-label position="floating">Città</ion-label>
                <ion-select formControlName="birthMunicipality"
                            interface="action-sheet">
                  <ion-select-option *ngFor="let municipality of birthMunicipalities"
                                     value="{{municipality.comune}}">{{municipality.comune}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>
            <ion-item>
              <ion-label position="floating">Telefono</ion-label>
              <ion-input formControlName="phoneNumber" inputmode="tel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" inputmode="email"></ion-input>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>

      <mat-step label="Documento" [stepControl]="documentFormGroup">
        <form [formGroup]="documentFormGroup">
          <ion-item-group>
            <ion-item>
              <ion-label position="floating">Tipo</ion-label>
              <ion-select interface="action-sheet" formControlName="type">
                <ion-select-option value="cartaIdentità">Carta d'Identità</ion-select-option>
                <ion-select-option value="patenteDiGuida">Patente di Guida</ion-select-option>
                <ion-select-option value="passaporto">Passaporto</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero</ion-label>
              <ion-input formControlName="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Rilasciato da</ion-label>
              <ion-input formControlName="issuingAuthority"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Data di Rilascio</ion-label>
              <ion-datetime formControlName="issueDate" displayFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>

      <mat-step label="Residenza/Domicilio" [stepControl]="residenceDomicileFormGroup">
        <form [formGroup]="residenceDomicileFormGroup">
          <!--Residenza-->
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Residenza</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="floating">Regione</ion-label>
              <ion-select [formControl]="residenceDomicileFormGroup.controls['residenceRegion']"
                          interface="action-sheet"
                          (ionFocus)="clearProvMunFields('residence')" (ionChange)="getProvince('residence')">
                <ion-select-option *ngFor="let region of regions"
                                   value="{{region.id_regione}}">{{region.regione}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item [disabled]="!getGeographicalControl('residenceRegion').valid">
              <ion-label position="floating">Provincia</ion-label>
              <ion-select [formControl]="residenceDomicileFormGroup.controls['residenceProvince']"
                          interface="action-sheet"
                          (ionFocus)="clearMunFields('residence')" (ionChange)="getMunicipalities('residence')">
                <ion-select-option *ngFor="let province of residenceProvinces"
                                   value="{{province.sigla}}">{{province.provincia}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item [disabled]="!getGeographicalControl('residenceProvince').valid">
              <ion-label position="floating">Città</ion-label>
              <ion-select [formControl]="residenceDomicileFormGroup.controls['residenceMunicipality']"
                          interface="action-sheet">
                <ion-select-option *ngFor="let municipality of residenceMunicipalities"
                                   value="{{municipality.comune}}">{{municipality.comune}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Indirizzo</ion-label>
              <ion-input [formControl]="residenceDomicileFormGroup.controls['residenceAddress']"></ion-input>
            </ion-item>

          </ion-item-group>

          <ion-item>
            <ion-checkbox (ionChange)="toggleDomicileCheckbox()"></ion-checkbox>
            <span style="margin-right: 1em"></span>
            <ion-label>Specificare Domicilio</ion-label>
          </ion-item>

          <!--Domicilio/Dimora-->
          <ion-item-group *ngIf="domicileChecked" class="domicile">
            <ion-item-divider>
              <ion-label>Domicilio/Dimora</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="floating">Regione</ion-label>
              <ion-select [formControl]="residenceDomicileFormGroup.controls['domicileRegion']" interface="action-sheet"
                          (ionFocus)="clearProvMunFields('domicile')" (ionChange)="getProvince('domicile')">
                <ion-select-option *ngFor="let region of regions"
                                   value="{{region.id_regione}}">{{region.regione}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item [disabled]="!getGeographicalControl('domicileRegion').valid">
              <ion-label position="floating">Provincia</ion-label>
              <ion-select [formControl]="residenceDomicileFormGroup.controls['domicileProvince']"
                          interface="action-sheet"
                          (ionFocus)="clearMunFields('domicile')" (ionChange)="getMunicipalities('domicile')">
                <ion-select-option *ngFor="let province of domicileProvinces"
                                   value="{{province.sigla}}">{{province.provincia}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item [disabled]="!getGeographicalControl('domicileProvince').valid">
              <ion-label position="floating">Città</ion-label>
              <ion-select [formControl]="residenceDomicileFormGroup.controls['domicileMunicipality']"
                          interface="action-sheet">
                <ion-select-option *ngFor="let municipality of domicileMunicipalities"
                                   value="{{municipality.comune}}">{{municipality.comune}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Indirizzo</ion-label>
              <ion-input [formControl]="residenceDomicileFormGroup.controls['domicileAddress']"></ion-input>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>

      <mat-step label="Spostamenti" optional>
        <form [formGroup]="initialMovementsFormGroup">
          <ion-item-group>
            <ion-item>
              <ion-label position="floating"> Lavoro</ion-label>
              <ion-input formControlName="work" placeholder="Es. : Piazza G. Matteotti 1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Scuola</ion-label>
              <ion-input formControlName="school" placeholder="Es. :Piazza G. Matteotti 1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Spesa Alimentare</ion-label>
              <ion-input formControlName="foodMarket" placeholder="Es. :Piazza G. Matteotti 1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Familiare/Congiunto</ion-label>
              <ion-input formControlName="relative" placeholder="Es. :Piazza G. Matteotti 1"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Medico di Famiglia</ion-label>
              <ion-input formControlName="familyDoctor" placeholder="Es. :Piazza G. Matteotti 1"></ion-input>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>
    </mat-vertical-stepper>

    <!-- Save Fab Button -->
    <ion-fab *ngIf="userStepper.selectedIndex === 3" horizontal="end" vertical="bottom">
      <ion-fab-button id="saveFab" color="primary" (click)="addUserInfo()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>


</ion-content>
