<ion-content>
  <div id="container">
    <mat-vertical-stepper linear>
      <mat-step label="Dati Anagrafici" [stepControl]="anagraphicFormGroup">
        <form [formGroup]="anagraphicFormGroup">
          <!--Informazioni Anagrafiche-->
          <ion-item-group>
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input [disabled]="!editMode" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Cognome</ion-label>
              <ion-input [disabled]="!editMode" formControlName="surname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Data di nascita</ion-label>
              <ion-datetime [disabled]="!editMode" formControlName="dateOfBirth"
                            displayFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <!-- Birth Place -->
            <ion-item-group>
              <ion-item-divider>
                <ion-label>Luogo di Nascita</ion-label>
              </ion-item-divider>
              <ion-item [disabled]="!editMode">
                <ion-label position="stacked">Regione</ion-label>
                <ion-select formControlName="birthRegion"
                            interface="action-sheet"
                            (ionFocus)="clearProvMunFields('birth')" (ionChange)="getProvince('birth')">
                  <ion-select-option *ngFor="let region of regions"
                                     value="{{region.id_regione}}">{{region.regione}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item [disabled]="!editMode || !anagraphicFormGroup.get('birthRegion').valid">
                <ion-label position="stacked">Provincia</ion-label>
                <ion-select formControlName="birthProvince"
                            interface="action-sheet"
                            (ionFocus)="clearMunFields('birth')" (ionChange)="getMunicipalities('birth')">
                  <ion-select-option *ngFor="let province of birthProvinces"
                                     value="{{province.sigla}}">{{province.provincia}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item [disabled]="!editMode || !anagraphicFormGroup.get('birthProvince').valid">
                <ion-label position="stacked">Città</ion-label>
                <ion-select formControlName="birthMunicipality"
                            interface="action-sheet">
                  <ion-select-option *ngFor="let municipality of birthMunicipalities"
                                     value="{{municipality.comune}}">{{municipality.comune}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>
            <ion-item>
              <ion-label position="floating">Telefono</ion-label>
              <ion-input [disabled]="!editMode" formControlName="phoneNumber" inputmode="tel"></ion-input>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>

      <mat-step label="Documento" [stepControl]="documentFormGroup">
        <form [formGroup]="documentFormGroup">
          <ion-item-group>
            <ion-item>
              <ion-label position="floating">Tipo</ion-label>
              <ion-select [disabled]="!editMode" interface="action-sheet" formControlName="type">
                <ion-select-option value="cartaIdentità">Carta d'Identità</ion-select-option>
                <ion-select-option value="patenteDiGuida">Patente di Guida</ion-select-option>
                <ion-select-option value="passaporto">Passaporto</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero</ion-label>
              <ion-input [disabled]="!editMode" formControlName="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Rilasciato da</ion-label>
              <ion-input [disabled]="!editMode" formControlName="issuingAuthority"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Data di Rilascio</ion-label>
              <ion-datetime [disabled]="!editMode" formControlName="issueDate"
                            displayFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>

      <mat-step label="Residenza/Domicilio" [stepControl]="residenceDomicileFormGroup">
        <form [formGroup]="residenceDomicileFormGroup" disabled="true">
          <!--Residenza-->
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Residenza</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">Regione</ion-label>
              <ion-select [disabled]="!editMode" formControlName="residenceRegion"
                          interface="action-sheet"
                          (ionFocus)="clearProvMunFields('residence')" (ionChange)="getProvince('residence')">
                <ion-select-option *ngFor="let region of regions"
                                   value="{{region.id_regione}}">{{region.regione}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item [disabled]="!editMode || !getGeographicalControl('residenceRegion').valid">
              <ion-label position="stacked">Provincia</ion-label>
              <ion-select formControlName="residenceProvince"
                          interface="action-sheet"
                          (ionFocus)="clearMunFields('residence')" (ionChange)="getMunicipalities('residence')">
                <ion-select-option *ngFor="let province of residenceProvinces"
                                   value="{{province.sigla}}">{{province.provincia}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item [disabled]="!editMode || !getGeographicalControl('residenceProvince').valid">
              <ion-label position="stacked">Città</ion-label>
              <ion-select formControlName="residenceMunicipality"
                          interface="action-sheet">
                <ion-select-option *ngFor="let municipality of residenceMunicipalities"
                                   value="{{municipality.comune}}">{{municipality.comune}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Indirizzo</ion-label>
              <ion-input [disabled]="!editMode" formControlName="residenceAddress" placeholder="Es. : Piazza G. Matteotti 1"></ion-input>
            </ion-item>
          </ion-item-group>

          <ion-item [disabled]="!editMode">
            <ion-checkbox id="domicileCheckbox" (ionChange)="toggleDomicileCheckbox()"></ion-checkbox>
            <span style="margin-right: 1em"></span>
            <ion-label>Specificare Domicilio</ion-label>
          </ion-item>

          <!--Domicilio/Dimora-->
          <ion-item-group *ngIf="domicileChecked" class="domicile">
            <ion-item-divider>
              <ion-label>Domicilio/Dimora</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">Regione</ion-label>
              <ion-select [disabled]="!editMode" formControlName="domicileRegion"
                          interface="action-sheet"
                          (ionFocus)="clearProvMunFields('domicile')" (ionChange)="getProvince('domicile')">
                <ion-select-option *ngFor="let region of regions"
                                   value="{{region.id_regione}}">{{region.regione}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item [disabled]="!editMode || !getGeographicalControl('domicileRegion').valid">
              <ion-label position="stacked">Provincia</ion-label>
              <ion-select formControlName="domicileProvince"
                          interface="action-sheet"
                          (ionFocus)="clearMunFields('domicile')" (ionChange)="getMunicipalities('domicile')">
                <ion-select-option *ngFor="let province of domicileProvinces"
                                   value="{{province.sigla}}">{{province.provincia}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item [disabled]="!editMode || !getGeographicalControl('domicileProvince').valid">
              <ion-label position="stacked">Città</ion-label>
              <ion-select formControlName="domicileMunicipality"
                          interface="action-sheet">
                <ion-select-option *ngFor="let municipality of domicileMunicipalities"
                                   value="{{municipality.comune}}">{{municipality.comune}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item [disabled]="!editMode">
              <ion-label position="floating">Indirizzo</ion-label>
              <ion-input formControlName="domicileAddress"></ion-input>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>
    </mat-vertical-stepper>

    <!-- Buttons Section -->
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <!-- View Buttons -->
      <ion-row *ngIf="!editMode; else saveUndoButtons">
        <ion-col>
          <ion-fab-button color="tertiary" (click)="goHome()">
            <ion-icon id="goHome" name="arrow-undo-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col>
          <ion-fab-button color="primary" (click)="toggleEditMode()">
            <ion-icon id="editFab" name="create-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
      <!-- Edit Buttons -->
      <ng-template #saveUndoButtons>
        <ion-row>
          <ion-col>
            <ion-fab-button id="undoFab" color="tertiary" (click)="undo()">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
          <ion-col>
            <ion-fab-button id="saveFab" color="primary" (click)="editUserInfo()">
              <ion-icon name="save-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-fab>
  </div>
</ion-content>
