<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Itineribus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <mat-vertical-stepper linear>
      <mat-step label="Dati Anagrafici" [stepControl]="anagraphicFormGroup">
        <form [formGroup]="anagraphicFormGroup">
          <!--Informazioni Anagrafiche-->
          <ion-item-group>
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input [readonly]="!editMode" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Cognome</ion-label>
              <ion-input [readonly]="!editMode" formControlName="surname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Data di nascita</ion-label>
              <ion-datetime [readonly]="!editMode" formControlName="dateOfBirth" displayFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Telefono</ion-label>
              <ion-input [readonly]="!editMode" formControlName="phoneNumber" inputmode="tel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input [readonly]="!editMode" formControlName="email" inputmode="email"></ion-input>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>

      <mat-step label="Documento" [stepControl]="documentFormGroup">
        <form [formGroup]="documentFormGroup">
          <ion-item-group>
            <ion-item>
              <ion-label position="floating">Tipo</ion-label>
              <!-- TODO: !editMode da tenere d'occhio nel caso crei dei problemi -->
              <ion-select [disabled]="!editMode"  interface="action-sheet" formControlName="type">
                <ion-select-option value="cartaIdentità">Carta d'Identità</ion-select-option>
                <ion-select-option value="patenteDiGuida">Patente di Guida</ion-select-option>
                <ion-select-option value="passaporto">Passaporto</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero</ion-label>
              <ion-input [readonly]="!editMode" formControlName="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Rilasciato da</ion-label>
              <ion-input [readonly]="!editMode" formControlName="issuingAuthority"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Data di Rilascio</ion-label>
              <ion-datetime [readonly]="!editMode" formControlName="issueDate" displayFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
          </ion-item-group>
        </form>
      </mat-step>

      <mat-step label="Residenza/Domicilio" [stepControl]="residenceDomicileFormGroup">
        <form [formGroup]="residenceDomicileFormGroup" disabled="true">
          <!--Residenza-->
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Residenza</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="stacked">Regione</ion-label>
              <!-- TODO: !editMode da tenere d'occhio nel caso crei dei problemi -->
              <ion-select [disabled]="!editMode" [formControl]="residenceDomicileFormGroup.controls['residenceRegion']" interface="action-sheet"
                          (ionFocus)="clearProvMunFields('residence')" (ionChange)="getProvince('residence')">
                <ion-select-option *ngFor="let region of regions" value="{{region.id_regione}}">{{region.regione}}</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- TODO: !editMode da tenere d'occhio nel caso crei dei problemi -->
            <ion-item [disabled]="!editMode || !getGeographicalControl('residenceRegion').valid">
              <ion-label position="stacked">Provincia</ion-label>
              <ion-select [formControl]="residenceDomicileFormGroup.controls['residenceProvince']" interface="action-sheet"
                          (ionFocus)="clearMunFields('residence')" (ionChange)="getMunicipalities('residence')">
                <ion-select-option *ngFor="let province of residenceProvinces" value="{{province.sigla}}">{{province.provincia}}</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- TODO: !editMode da tenere d'occhio nel caso crei dei problemi -->
            <ion-item [disabled]="!editMode || !getGeographicalControl('residenceProvince').valid">
              <ion-label position="stacked">Città</ion-label>
              <ion-select [formControl]="residenceDomicileFormGroup.controls['residenceMunicipality']" interface="action-sheet">
                <ion-select-option *ngFor="let municipality of residenceMunicipalities" value="{{municipality.comune}}">{{municipality.comune}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Indirizzo</ion-label>
              <ion-input [formControl]="residenceDomicileFormGroup.controls['residenceAddress']"></ion-input>
            </ion-item>

          </ion-item-group>

          <ion-item>
            <ion-checkbox id="domicileCheckbox" (ionChange)="toggleDomicileCheckbox()" ></ion-checkbox>
            <span style="margin-right: 1em"></span>
            <ion-label>Specificare Domicilio</ion-label>
          </ion-item>

          <!--Domicilio/Dimora-->
          <ion-item-group *ngIf="domicileChecked" class="domicile">
            <ion-item-divider>
              <ion-label>Domicilio/Dimora</ion-label>
            </ion-item-divider>
            <ion-item>
              <!-- TODO: !editMode da tenere d'occhio nel caso crei dei problemi -->
              <ion-label position="stacked">Regione</ion-label>
              <ion-select [disabled]="!editMode"  [formControl]="residenceDomicileFormGroup.controls['domicileRegion']" interface="action-sheet"
                          (ionFocus)="clearProvMunFields('domicile')" (ionChange)="getProvince('domicile')">
                <ion-select-option *ngFor="let region of regions" value="{{region.id_regione}}">{{region.regione}}</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- TODO: !editMode da tenere d'occhio nel caso crei dei problemi -->
            <ion-item [disabled]="!editMode || !getGeographicalControl('domicileRegion').valid">
              <ion-label position="stacked">Provincia</ion-label>
              <ion-select [formControl]="residenceDomicileFormGroup.controls['domicileProvince']" interface="action-sheet"
                          (ionFocus)="clearMunFields('domicile')" (ionChange)="getMunicipalities('domicile')">
                <ion-select-option *ngFor="let province of domicileProvinces" value="{{province.sigla}}">{{province.provincia}}</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- TODO: !editMode da tenere d'occhio nel caso crei dei problemi -->
            <ion-item [disabled]="!editMode || !getGeographicalControl('domicileProvince').valid">
              <ion-label position="stacked">Città</ion-label>
              <ion-select [formControl]="residenceDomicileFormGroup.controls['domicileMunicipality']" interface="action-sheet">
                <ion-select-option *ngFor="let municipality of domicileMunicipalities" value="{{municipality.comune}}">{{municipality.comune}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Indirizzo</ion-label>
              <ion-input [formControl]="residenceDomicileFormGroup.controls['domicileAddress']"></ion-input>
            </ion-item>
          </ion-item-group>
        </form>

        <!-- TODO: editMode da tenere d'occhio nel caso crei dei problemi -->
        <ion-button *ngIf="editMode" (click)="addUserInfo()">
          <span class="button-text">SALVA</span>
          <ion-icon name="save"></ion-icon>
        </ion-button>
      </mat-step>
    </mat-vertical-stepper>

  </div>


</ion-content>
