a {
  font-size: large;
  text-decoration: none;
}

.card-buttons-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}

#no-movements {
  height: calc(100% - 32px);
  display: flex;
  color: #00796b;
  justify-content: center;
  align-items: center;
  
  img {
    margin-top: 16px;
  }
}
