<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Itineribus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">iTeribus</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <p>
      <a href="./user-info-form">Creazione Profilo Utente</a>
    </p>
    <p>
      <a href="./user-info">Modifica e Riepilogo Profili utente</a>
    </p>
  </div>
</ion-content>
