<ion-content class="ion-padding" [fullscreen]="true">
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <div id="no-movements" *ngIf="showNoMovementsMsg">
    <h3 *ngIf="showNoMovementsMsg">
      <em>Nessuno spostamento inserito.</em><br>
      <em>Premi </em>
      <ion-icon name="add-circle-outline"></ion-icon>
      <em> per inserirne uno!</em><br>
      <img src="assets/icon/jt_gif.gif" alt="">
    </h3>
  </div>
  <ion-button color="danger" (click)="shareButton()">CLICK ME</ion-button>
  <ion-list>
    <ion-progress-bar *ngIf="movements.length === 0 && !showNoMovementsMsg" type="indeterminate" color="tertiary"></ion-progress-bar>
    <ion-item *ngFor="let movement of movements; let i = index">
      <ion-card style="width: 100%;">
        <a href="./movement-details/{{movement.name}}/view">
        <ion-card-header>
          <ion-card-title>{{movement.name}}</ion-card-title>
          <ion-card-subtitle>Partenza: {{movement.departure}}</ion-card-subtitle>
          <ion-card-subtitle>Arrivo: {{movement.destination}}</ion-card-subtitle>
        </ion-card-header>
        </a>
        <ion-card-content>
          <!-- Buttons Container -->
          <div class="card-buttons-container">
            <ion-fab-button size="small" href="./movement-details/{{movement.name}}/edit">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" color="secondary" (click)="showGenerateAlert(i)">
              <ion-icon name="print-outline"></ion-icon>
            </ion-fab-button>
            <!-- Delete Button -->
            <ion-fab-button size="small" color="danger" (click)="showDeleteAlert(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- Buttons Section -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="tertiary" href="new-movement">
      <ion-icon id="editFab" name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

